@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: #4b5563;
  scrollbar-width: none;
}

/* navbar styles */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color:#292f36;
  /*offset-x offset-y blur-radius spread-radius color*/
  box-shadow: 0 0 5 50 #ffffff;
}

.navbar h1 {
  position: relative;
  left: 1rem;
  color: #ffffff;
  background-color:#292f36;
}

.navbar .links {
  position: relative;
  right: 1rem;
  margin-left: auto; 
  display: flex;
  gap: 50px;
  background-color:#292f36;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  color: #ffffff;
  background-color:#292f36;
}

.navbar a:hover {
  color: #615e5e;
}

.content {
  padding: 100px;
}

.content h1 {
  text-align: center;
  color: #ffffff;
}

/* searchbar styles */

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: 4b5563;
  min-height: 100vh;
  padding: 100px;
}

.search-form {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.search-wrapper {
  position: relative;
}

.search-input {
  width: 100%;
  /*top right bottom left*/
  padding: 1.5rem 3rem 1.5rem 1.5rem; 
  font-size: 1.5rem;
  border-radius: 9999px;
  border: 1px solid #e5e7eb;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s ease;
  box-sizing: border-box;
}

.search-input:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.search-input:focus {
  outline: none;
  border-color: #d1d5db;
}

.search-icons {
  position: absolute;
  top: 0;
  right: 1.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  
}

.search-button {
  color: #6e7f91;
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  color: #292f36;
}

.search-button svg {
  background: transparent;
}

/* search results styles */

.results-container {
  width: 100%;
  max-width: 1190px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  
}

.result-item {
  text-align: center;
  font-size: 20px;
  padding: 1rem;
  background: white;
}

.result-item:nth-child(even) {
  background: #e5e7eb;
}

.result-item:nth-child(even) .result-text {
  background: #e5e7eb;
}

.result-item:hover {
  background: #e5e7eb79;
}

.result-item:hover .result-text {
  background: transparent;
}

.result-text {
  background: white;
  color: black;
}

.no-bullets {
  list-style: none;
  padding: 0;
}