@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

/* navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  position: relative;
  left: 1rem;
  color: #000000;
}
.navbar .links {
  position: relative;
  right: 1rem;
  margin-left: auto; 
  display: flex;
  gap: 50px;
}
.navbar a {
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3b82f6;
}

.content {
  padding: 100px;
}

.content h1 {
  text-align: center
}

/* searchbar styles */

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  min-height: 100vh;
  padding: 100px;
}

.search-form {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.search-wrapper {
  position: relative;
}

.search-input {
  width: 100%;
  /*top right bottom left*/
  padding: 1.5rem 3rem 1.5rem 1.5rem; 
  font-size: 1.5rem;
  border-radius: 9999px;
  border: 1px solid #e5e7eb;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s ease;
  box-sizing: border-box;
}

.search-input:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.search-input:focus {
  outline: none;
  border-color: #d1d5db;
}

.search-icons {
  position: absolute;
  top: 0;
  right: 1.25rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-button {
  color: #3b82f6;
  background: none;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  color: #4b5563;
}

.results-container {
  width: 100%;
  max-width: 1190px;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.result-item {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 20px;
  padding: 0.75rem;

}

.result-item:hover {
  background-color: #e5e7eb;
}

.result-link {
  color: #2563eb;
  text-decoration: none;
}

.result-link:hover {
  cursor: pointer; 
}

.no-bullets {
  list-style: none;
  padding: 0;
}